html {
  height: 100vh;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
#app {
  height: 100%;
}

.wallet-label {
  color: rgb(8, 164, 252);
  border-right: 0.1em solid rgb(8, 164, 252);
}

@media (max-width: 576px) {
  .icon-label {
    font-size: 0.75em;
  }
}

@media (max-width: 375px) {
  .nav-icon-label {
    font-size: 0.65em;
  }
}
