html {
  height: 100vh;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}

@media (max-width: 576px) {
  .nav-icon-label {
    font-size: 0.75em;
  }
}

@media (max-width: 375px) {
  .nav-icon-label {
    font-size: 0.65em;
  }
}
