html {
  height: 100vh;
}
body {
  height: 100%;
}
#root {
  height: 100%;
}
#app {
  height: 100%;
}

#wallet-label {
  color: rgb(8, 164, 252);
  border-right: 0.1em solid rgb(8, 164, 252);
}

#notif-text {
  color: rgb(8, 164, 252);
  font-size: 0.75em;
}

#search-icon-div {
  border-right: 0.05em solid grey;
}

@media (max-width: 576px) {
  .icon-label {
    font-size: 0.75em;
    color: grey;
  }
}

@media (max-width: 375px) {
  .icon-label {
    font-size: 0.65em;
    color: grey;
  }
}
